<a href="https://colab.research.google.com/github/OsvaldoLC/Challenge-amigo/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('Hola mundo!')

Hola mundo!

In [ ]:
15

15

In [ ]:
print('Mi nombre es Osvaldo y me encanta la ciencia de datos')

Mi nombre es Osvaldo y me encanta la ciencia de datos

#**DESAFIO 1**


####1: Imprimir la frase "Escuela de Datos de Alura".
####2: Imprimir nombre y apellido.
####3: Imprimir nombre letra por letra.
####4: Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003.
####5:Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

In [ ]:
print("Escuela de Datos de Alura")

Escuela de Datos de Alura

In [ ]:
nombre = "Osvaldo"
apellido = "Luna"

print("Nombre: ", nombre)
print("Apellido: ", apellido)

Nombre:  Osvaldo
Apellido:  Luna

In [ ]:
print("O")
print("S")
print("V")
print("A")
print("L")
print("D")
print("O")

O
S
V
A
L
D
O

In [ ]:
dia = 28
mes = "febrero"
año = 2003


print(" ", dia," ",mes, "", año)
print(" 28 febrero 2003")

  28   febrero  2003
 28 febrero 2003

In [ ]:
print("El año actual es", 2025)

El año actual es 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella. Es un valor que esta atribuido a un nombre.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
 edad = 5
 id(5)

10750984

In [ ]:
id(edad)

10750984

In [ ]:
nombre= "osvaldo"

In [ ]:
id (nombre)

140583613387440

In [ ]:
id("osvaldo")

140583613387440

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
edad =21
type(edad)

int

In [ ]:
promedio = 9.3
type(promedio)

float

In [ ]:
nombre= "osbañdp"
type(nombre)

str

In [ ]:
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
vigilantes_cantidad = 5
vigilantes_salaeio = 300

docente_cantidad = 16
docente_salario = 500

coordinador_cantidad = 2
coordinador_salario = 600


total_empleados = vigilantes_cantidad + docente_cantidad + coordinador_cantidad
diferencia = coordinador_salario - vigilantes_salaeio
promedio = (vigilantes_cantidad*vigilantes_salaeio + docente_cantidad*docente_salario + coordinador_cantidad*coordinador_salario)/ total_empleados

print("Total empleados:", total_empleados, ", La diferencia de salario es:", diferencia, ", El promedio es:", promedio)

Total empleados: 23 , La diferencia de salario es: 300 , El promedio es: 465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t='ALURA'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

137671340459872

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y', 't')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
id(texto)

137671338915632

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
137671340459872 137671340733936

In [ ]:
texto = texto.strip().replace('y','t').upper()
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
137671338915632 137671340733936

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input('Escribe tu nombre: ')

Escribe tu nombre: osvaldo

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input('Digita el ano de admision: '))

Digita el ano de admision: 2023

In [ ]:
type(ano_admision)

int

In [ ]:
nota_admision = float(input('Digita la nota de admision: '))

Digita la nota de admision: 9.35

In [ ]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl ano de admision fue: {ano_admision} \n\tLa nota de admision fue: {nota_admision}')

	El ano de admision fue: 2023
	La nota de admision fue: 9.35

nota: existen diferentes tipos de clave:

      cadena de texto         %s
      entero                  %d
      punto flotante          %f
      caracter                %c

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

In [ ]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

#**Desafío 2: ¡Es hora de practicar!**

##1.   Recopilacion y muestra de datos

*   Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."
* Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

* Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [ ]:
nombre1 = input('Escribe tu nombre: ')
print(f'Hola,\"{nombre1}\"')

Escribe tu nombre: Osvaldo
Hola,"Osvaldo"

In [ ]:
nombre2 = input('Digita tu nombre: ')
edad = int(input('Digita tu edad: '))
print(f'\"Hola, {nombre2}, tienes {edad} anos\" ')

Digita tu nombre: osvaldo
Digita tu edad: 22
"Hola, osvaldo, tienes 22 anos"

In [ ]:
nombre3 = str(input('Escribe tu nombre: '))
edad3 = int(input('Escribe tu edad: '))
altura = float(input('Escibre tu altura en metros: '))
print(f'Hola, {nombre3}, tienes {edad3} anos y mides {altura} metros')

Escribe tu nombre: Osvaldo
Escribe tu edad: 22
Escibre tu altura en metros: 1.73
Hola, Osvaldo, tienes 22 anos y mides 1.73 metros

##2. Calculadora con operadores


* Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

* Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

* Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

* Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

* Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

* Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

* Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

* Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

* Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

* Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [ ]:
a = int(input('Digita el primer valor: '))
b = int(input('Digita el segundo valor: '))
print(a+b)

Digita el primer valor: 2
Digita el segundo valor: 3
5

In [ ]:
a = int(input('Digita el primer valor: '))
b = int(input('Digita el segundo valor: '))
c = int(input('Digita el tercer valor: '))
print(a+b+c)

Digita el primer valor: 2
Digita el segundo valor: 3
Digita el tercer valor: 4
9

In [ ]:
a = int(input('Digite el primer valor: '))
b = int(input('Digita el segundo valor: '))
print(a-b)

Digite el primer valor: 2
Digita el segundo valor: 1
1

In [ ]:
a = int(input('Digite el primer valor: '))
b = int(input('Digita el segundo valor: '))
print(a*b)

Digite el primer valor: 2
Digita el segundo valor: 2
4

In [ ]:
a = int(input('Digite el primer valor: '))
b = int(input('Digita el segundo valor(no debe de ser ceroo nulo): '))
print(a/b)

Digite el primer valor: 2
Digita el segundo valor(no debe de ser ceroo nulo): 1
2.0

In [ ]:
a = int(input('Digite el primer valor: '))
b = int(input('Digita la potencia: '))
print(a**b)

Digite el primer valor: 2
Digita la potencia: 3
8

In [ ]:
a = int(input('Digite el primer valor: '))
b = int(input('Digita el segundo valor(no debe de ser ceroo nulo): '))
print(a//b)

Digite el primer valor: 2
Digita el segundo valor(no debe de ser ceroo nulo): 3
0

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: el valor no puede ser nulo): '))
print(numerador % denominador)

Ingrese el numerador: 2
Ingrese el denominador (OBS: el valor no puede ser nulo): 3
2

In [ ]:
nota_1 = float(input('Ingrese la 1° nota: '))
nota_2 = float(input('Ingrese la 2° nota: '))
nota_3 = float(input('Ingrese la 3° nota: '))
print(f'Media {(nota_1+nota_2+nota_3)/3}.')

Ingrese la 1° nota: 2
Ingrese la 2° nota: 3
Ingrese la 3° nota: 4
Media 3.0.

In [ ]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Media {media_ponderada}.')

Media 14.9.

##3. Editando textos

* Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

* Crea un código que solicite una frase y luego imprima la frase en pantalla.

* Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

* Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

* Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

* Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

* Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

* Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

* Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

* Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [ ]:
frase = 'A los culos no les hacen corridos'
print('%s'%(frase))

A los culos no les hacen corridos

In [ ]:
frase = input("Digita una frase: ")
print(frase)

Digita una frase: a los culos no les hacen corridos
a los culos no les hacen corridos

In [ ]:
frase = input("Digite una frase: ")
print(frase.upper())

Digite una frase: ds fdfg fdg d
DS FDFG FDG D

In [ ]:
frase = input("Digite una frase: ")
print(frase.lower())

Digite una frase: a los culos
a los culos

In [ ]:
frase = " a los culos no les hacen corridos"
print(frase.strip())

a los culos no les hacen corridos

In [ ]:
frase = " A los culos no les hace  corriDoS. "
print(frase.strip().lower())

a los culos no les hace  corridos.

In [ ]:
frase = input("Digite una frase: ")
print(frase.replace("e","f"))

Digite una frase: a los culos no les hacen corridos
a los culos no lfs hacfn corridos

In [ ]:
frase = input("Digite una frase: ")
print(frase.replace("a","@"))

Digite una frase: a los culos no les hhacen corridos
@ los culos no les hh@cen corridos

In [ ]:
frase = input("Digite una frase: ")
print(frase.replace("s","$"))

Digite una frase: a los culos no les hacen corridos
a lo$ culo$ no le$ hacen corrido$

# Estructuras condicionales

In [ ]:
#nota de aprobacion entre 7 y 10
#nota de reprobacion menor a 7

"""
si la nota es mayor o igual a 7 entonces el estuudiante aprueba
si no, reprueba
"""

'\nsi la nota es mayor o igual a 7 entonces el estuudiante aprueba \nsi no, reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
  print("La condicion es verdadera.")

La condicion es verdadera.

In [ ]:
if 2 > 7:
  print("La condicion es verdadera.")
print("\nFin de la consulta")

Fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print("La condicion es verdadera.")
else:
  print("La condicion es falsa")
print("\nFin de la consulta")

La condicion es falsa

Fin de la consulta

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input("Digita la nota: "))
if nota >= 7:
  print("Aprobó.")
else:
  print("Reprobó.")

Digita la nota: 3
Reprobó.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input("Digita la nota: "))
if nota >= 7:
  print("Aprobó.")
if 7 > nota >= 5:
  print("Recurperación.")
else:
  print("Reprobó.")

Digita la nota: 4
Reprobó.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input("Digita la nota: "))
if nota >= 7:
  print("Aprobó.")
elif 7 > nota >= 5:
  print("Recurperación.")
else:
  print("Reprobó.")

Digita la nota: 6
Recurperación.

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if v and v:
  print("la condicion es verdadera.")
else:
 print("la condicion es falsa ")

la condicion es verdadera.

In [ ]:
if v or v:
  print("la condicion es verdadera.")
else:
 print("la condicion es falsa ")

la condicion es verdadera.

In [ ]:
if not v:
  print("la condicion es verdadera.")
else:
 print("la condicion es falsa ")

la condicion es falsa

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista =  'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print('EL estudiante aprobo.')
else:
  print('El estudiante reprobo.')

EL estudiante aprobo.

In [ ]:
if nombre_2 in lista:
  print('EL estudiante aprobo.')
else:
  print('El estudiante reprobo.')

El estudiante reprobo.

#**Desadio 3**

##Entrenando la programacion.

* Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

* Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

* Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

* Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

* Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

* Escribe un programa que lea tres números y los muestre en orden descendente.

* Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

* Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

* Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

In [ ]:
numero1 = input('Digite un numero: ')
numero2 = input('Digite otro numero: ')

if numero1 > numero2 :
  print(f'\n\tEl numero {numero1} es mayor.')
elif numero1 < numero2:
  print(f'\n\tEl numero {numero2} es mayor.')
else:
  print('Ambos son iguales')

Digite un numero: 2
Digite otro numero: 4

	El numero 4 es mayor.

In [ ]:
x = float(input('Digita el porcentaje de crecimienmto de produccion: '))

if x > 0:
  print('Hubo crecimietno.')
elif x < 0:
  print('No hubo crecimietno.')
else:
  print('Se quedo.')

Digita el porcentaje de crecimienmto de produccion: 0
Se quedo.

In [ ]:
persona = input('Digite una letra: ').lower()
letra = 'aeiou'

if persona in letra:
  print('Es una vocal.')
else:
  print('Es una consonante/')

In [ ]:
precio1 = float(input("Digita el precio del primer producto: "))
precio2 = float(input("Digita el precio del segundo producto: "))
precio3 = float(input("Digita el precio del tercer producto: "))

if precio1 < precio2 and precio1 < precio3:
  print("El primer producto es el mas barato.")
elif precio2 < precio3 and precio2 < precio3:
  print("El segunto producto es el mas barato.")
else:
  print("El tercer producto es el mas barato.")

Digita el precio del primer producto: 34.4
Digita el precio del segundo producto: 554
Digita el precio del tercer producto: 23.3
El tercer producto es el mas barato.

In [ ]:
digito1 = str(input("DIgite el primer digito."))
digito2 = str(input("DIgite el segundo digito."))
digito3 = str(input("DIgite el tercer digito.\n"))

if digito1 > digito2 and digito1 > digito3:
  print(f"{digito1}, ")
  if digito2 > digito3:
    print(f"{digito2}")
    print(f"{digito3}")
elif digito2 > digito1 and digito2 > digito3:
  print(f"{digito2}")
  if digito1 > digito3:
    print(f"{digito1}")
    print(f"{digito3}")
elif digito3 > digito1 and digito3 > digito2:
  print(f"{digito3}")
  if digito2 > digito1:
    print(f"{digito2}\n{digito1}")

DIgite el primer digito.2
DIgite el segundo digito.234
DIgite el tercer digito.566
566
234
2

In [ ]:
turno = str(input("En que turno estudias: "))

if turno == "mañana":
  print("¡Buenos dias!")
elif turno == "tarde":
  print("¡Buenas tardes!")
elif turno == "noche":
  print("¡Buenas noches!")
else:
  print("Dato invalido.")

En que turno estudias: sdf
Dato invalido.

In [ ]:
numero = int(input("Digite un numero: "))
if numero %2 == 0:
  print(f"{numero} es par")
else:
  print(f"{numero} es impar")

Digite un numero: 3
3 es impar

In [ ]:
num = float(input('Ingresa un número: '))
if num % 1 == 0:
    print('El número es entero.')
else:
    print('El número es decimal.')

Ingresa un número: 34
El número es entero.

In [ ]:
digito1 = int(input("Digite el primer numero: "))
digito2 = int(input("Digite el segundo numero: "))
operacion = input("Que operacion desea realizar: ")

if operacion == "suma":
  resultado = digito1 + digito2
  print(f"El resultado de la sema es: {resultado}")
elif operacion == "resta":
  resultado = digito1 - digito2
  print(f"El resultado de la resta es: {resultado}")
elif operacion == "multiplicacion":
  resultado = digito1 * digito2
  print(f"El resultado de la multiplicacion es: {resultado}")
else:
  resultado = digito1/digito2
  print(f"El resultado de la division es: {resultado}")


if resultado % 1 == 0 :
    print('El resultado de es un número entero.')
else:
    print(f'El {resultado} es un número decimal.')

if resultado > 0:
    print(f'El {resultado} es positivo.')
else:
    print(f'El {resultado} es negativo.')

if resultado % 2 == 0:
    print(f'El {resultado} es un número par.')
else:
    print(f'El {resultado} es un número impar.')

Digite el primer numero: 23
Digite el segundo numero: 2
Que operacion desea realizar: suma
El resultado de la sema es: 25
El resultado de es un número entero.
El 25 es positivo.
El 25 es un número impar.

In [ ]:
d1 = int(input("Digite un numero: "))
d2 = int(input("Digite otro numero: "))
d3 = int(input("Digite otro numero: "))

caso = str(input("\n¿Se pueden usar para formar un triangulo? "))
if caso == "si":
  if d1 == d2 and d1 == d3:
    print("El triangulo es equilatero.")
  elif d1 != d2  and d1 != d3 and d2 != d3 :
    print("El triangulo es escaleno")
  else:
    print("El triangulo es isoseles")
else:
  print("Ni modo pa.")

Digite un numero: 3
Digite otro numero: 2
Digite otro numero: 2

¿Se pueden usar para formar un triangulo? si
El triangulo es isoseles

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota1 = float(input("Digita la primer nota: "))
nota2 = float(input("Digita la segunda nota: "))

print(f"El promedio del estudiante es: {(nota1+nota2)/2}")

nota1 = float(input("Digita la primer nota: "))
nota2 = float(input("Digita la segunda nota: "))

print(f"El promedio del estudiante dos es: {(nota1+nota2)/2}")


nota1 = float(input("Digita la primer nota: "))
nota2 = float(input("Digita la segunda nota: "))

print(f"El promedio del estudiante tres es: {(nota1+nota2)/2}")

Digita la primer nota: 2
Digita la segunda nota: 3
El promedio del estudiante es: 2.5
Digita la primer nota: 2
Digita la segunda nota: 3
El promedio del estudiante dos es: 2.5
Digita la primer nota: 2
Digita la segunda nota: 3
El promedio del estudiante tres es: 2.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador =1
while contador <=10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3 :
  nota1 = float(input("Digita la primer nota: "))
  nota2 = float(input("Digita la segunda nota: "))

  print(f"El promedio del estudiante {contador} es: {(nota1+nota2)/2}")
  contador += 1

Digita la primer nota: 2
Digita la segunda nota: 3
El promedio del estudiante 1 es: 2.5
Digita la primer nota: 3
Digita la segunda nota: 4
El promedio del estudiante 2 es: 3.5
Digita la primer nota: 4
Digita la segunda nota: 5
El promedio del estudiante 3 es: 4.5

operadores
-=    resta un valor de la variable precio
*=    multiplica un valor por la variable precio
/=    divide la variable por un precio
//=   realiza una division entera de la varable por un valor precio
%=    calcula el resto de la division del valor en la y asigna el sesultado a la variable precio

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1, 11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
  nota1 = float(input("Digita la primer nota: "))
  nota2 = float(input("Digita la segunda nota: "))

  print(f"El promedio del estudiante {e} es: {(nota1+nota2)/2}")

Digita la primer nota: 2
Digita la segunda nota: 3
El promedio del estudiante 1 es: 2.5
Digita la primer nota: 34
Digita la segunda nota: 32
El promedio del estudiante 2 es: 33.0
Digita la primer nota: 2
Digita la segunda nota: 2
El promedio del estudiante 3 es: 2.0

while suele ser mejor cuando no sabemos cuando va a acabar pero cuando es algo mas de inicio a fin es mejor for

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

#**Entrenando la programacion**

* Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

* Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

* Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

* Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

* Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
# Recolectamos los valores de inicio y fin
inicio = int(input('Ingresa el primer número entero: '))
fin = int(input('Ingresa el segundo número entero: '))

# Verificamos si el valor de inicio es menor que el fin
if inicio < fin:
  # Podemos imprimir los enteros entre el valor menor y el valor mayor
  for iffff in range(inicio + 1, fin):
    print(iffff)
elif inicio > fin:
  for iffff in range(fin + 1, inicio):
    print(iffff)
else: # En caso de que los números sean iguales, no podemos imprimir ninguna secuencia.
  print('Los números son iguales.')

Ingresa el primer número entero: 4
Ingresa el segundo número entero: 4
Los números son iguales.

In [ ]:
# Número inicial de bacterias
colonia_a = 4
colonia_b = 10

# Tasas de crecimiento de las colonias
tasa_a = 0.03
tasa_b = 0.015

# Contador de días
días = 0

# La condición que termina el bucle es cuando
# la colonia A supera a la colonia B
while colonia_a <= colonia_b:
  # Usamos un operador de asignación con multiplicación
  colonia_a *= 1 + tasa_a
  colonia_b *= 1 + tasa_b
  # Contamos los días en cada iteración
  días += 1

# Resultado final
print(f'Necesitará {días} días para que la colonia A supere a la colonia B.')

Necesitará 63 días para que la colonia A supere a la colonia B.

In [ ]:
# Bucle para recopilar las 15 notas
for i in range(15):
  nota = float(input(f'Ingresa la nota del usuario {i}: ')

  # Verifica si la nota está entre 0 y 5
  # Si no lo está, el bucle se repetirá hasta que se obtenga un valor válido
  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota no válida, ingresa nuevamente la nota del usuario {i}: '))

print('Verificación completa. Todas las notas son válidas.')

In [ ]:
# Recopilamos la temperatura
temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

# Inicializamos un contador y una suma para calcular el promedio
contador = 0
suma = 0

# Nuestro código se ejecuta hasta que el valor de temperatura sea igual a -273
while temperatura != -273:
    # La suma se actualiza sumando la temperatura a la variable suma
    suma += temperatura
    # Contamos la cantidad de valores recopilados con el contador
    contador += 1
    # Recopilamos nuevamente la temperatura
    temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

promedio = suma / contador

print(f'El promedio de las temperaturas es: {promedio}')

In [ ]:
# Solicita el número
num = int(input('Ingresa un número entero: ')

# Inicializa el cálculo
factorial = 1

# Nuestro contador comienza con el número máximo
# y se realizará un conteo decreciente con el operador -=
i = num
while i > 0:
    # Queremos multiplicar el valor factorial por el número
    # y todos los números por debajo de él hasta 1
    factorial *= i
    i -= 1

# Imprime el cálculo del factorial
print(f'El factorial de {num} es {factorial}')

Momento de los proyectos

In [ ]:
# Solicita el número
num = int(input('Ingresa un número entero del 1 al 10: ')

# Generamos la tabla de multiplicar
print(f'Tabla de multiplicar del {num}:')
for i in range(1, 11):
    resultado = num * i
    print(f'{num} x {i} = {resultado}')

In [ ]:
# Recopilamos el número
num = int(input('Ingresa un número entero: ')

# Los números enteros iguales o menores que 1 no se consideran primos
if num > 1:
    for i in range(2, num):
        # Verificamos todos los residuos de la división entre todos los números menores que num
        # Si algún residuo es 0, significa que es divisible por otro número además de sí mismo y 1
        if (num % i) == 0:
            print(f'{num} no es un número primo')
            break
    else:
        print(f'{num} es un número primo')
else:
    print(f'{num} no es un número primo')

In [ ]:
# Recopilamos las edades de los clientes
edad = int(input('Ingresa la edad (o un número negativo para finalizar): ')

# Inicializamos las variables de conteo
contador_0_25 = 0 # contador de edades entre 0 y 25
contador_26_50 = 0 # contador de edades entre 26 y 50
contador_51_75 = 0 # contador de edades entre 51 y 75
contador_76_100 = 0 # contador de edades entre 76 y 100

# Nuestro código se ejecuta hasta que el valor de edad sea negativo
while edad >= 0:
    # Contamos cada caso
    if edad >= 0 and edad <= 25:
        contador_0_25 += 1
    elif edad >= 26 and edad <= 50:
        contador_26_50 += 1
    elif edad >= 51 and edad <= 75:
        contador_51_75 += 1
    elif edad >= 76 and edad <= 100:
        contador_76_100 += 1

    # Repetimos el proceso de entrada de datos hasta que se ingrese un número negativo
    edad = int(input('Ingresa la edad (o un número negativo para finalizar): ')

# Mostramos los resultados
print('Distribución de edades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

In [ ]:
# Inicializamos las variables contadoras
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_blanco = 0

# Inicio del bucle para leer los votos
for i in range(0, 20):
    voto = int(input('Ingresa tu voto: ')
    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_blanco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos en blanco: {votos_blanco}')
print(f'Porcentaje de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Porcentaje de votos en blanco: {(votos_blanco / 20 * 100)}')

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
type(lista[0])

str

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0

In [ ]:
lista

['OSvaldo', 4, 10.0, 455, 564, True, 154.66666666666666]

In [ ]:
promedio = ((lista[1]+lista[2]+ lista[3])/3)

In [ ]:
promedio

9.733333333333333

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
lenguaje = 'Python'
print(lenguaje[0], lenguaje[1], lenguaje[2], lenguaje[-3], lenguaje[-2], lenguaje[-1])

P y t h o n

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split()
print(lista_palabras)

['¿Quién', 'vino', 'primero?', '¿El', 'huevo?', '¿O', 'fue', 'la', 'serpiente?']

In [ ]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
lista = ["OSvaldo", 4,5,455,564,True]

len(lista)

6

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[0:2]

['OSvaldo', 4]

In [ ]:
lista[0:3]

['OSvaldo', 4, 5]

In [ ]:
lista[3:]

[455, 564, True]

In [ ]:
lista[:]

['OSvaldo', 4, 5, 455, 564, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio)

In [ ]:
lista

['OSvaldo', 4, 10.0, 455, 564, True, 154.66666666666666, 154.66666666666666]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])

In [ ]:
lista

['OSvaldo',
 4,
 10.0,
 455,
 564,
 True,
 154.66666666666666,
 154.66666666666666,
 10.0,
 8.0,
 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])

In [ ]:
lista

['OSvaldo',
 4,
 10.0,
 455,
 564,
 True,
 154.66666666666666,
 154.66666666666666,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0,8.0,9.0])

In [ ]:
lista

['OSvaldo',
 4,
 10.0,
 455,
 564,
 True,
 154.66666666666666,
 154.66666666666666,
 10.0,
 8.0,
 9.0]

##Ejemplo de otras manipulaciones para las listas

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

In [ ]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

In [ ]:
razas_de_perros.pop(1)

'Golden Retriever'

In [ ]:
razas_de_perros.index('Pastor Alemán')

2

In [ ]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

para poder crear mi llave la tengo que asignar como string

In [ ]:
diccionario = {"llave":1,
               "llave2": 2}

In [ ]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {
            "matricula":2000168933,
            "dia_de_registro":25,
            "mes_de_registro":10,
            "grupo":"2E"
}

estudiante

{'matricula': 2000168933,
 'dia_de_registro': 25,
 'mes_de_registro': 10,
 'grupo': '2E'}

In [ ]:
estudiante["matricula"]

2000168933

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante["grupo"]="2G"

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_de_registro': 25,
 'mes_de_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante["modalidad"]="EAD"

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_de_registro': 25,
 'mes_de_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop("grupo")

'2E'

In [ ]:
estudiante

{'matricula': 2000168933, 'dia_de_registro': 25, 'mes_de_registro': 10}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_de_registro', 25), ('mes_de_registro', 10)])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia_de_registro', 'mes_de_registro'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10])

### Lectura de valores con el lazo `for`

In [ ]:
 for llave in estudiante.keys():
  print(llave)

matricula
dia_de_registro
mes_de_registro

In [ ]:
for llave,valor in estudiante.items():
  print(llave, "-->", valor)

matricula --> 2000168933
dia_de_registro --> 25
mes_de_registro --> 10

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print("\t",dato)

Clave: nombres
Elementos:
	 televisión
	 celular
	 notebook
	 geladeira
	 estufa
Clave: precios
Elementos:
	 2000
	 1500
	 3500
	 4000
	 1500

In [ ]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#**Desafio**

##Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [ ]:
lista= [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

promedio= (sum(lista)/len(lista))

print(promedio)

3144.222

##2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [ ]:
lista= [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]


contador = 0

for gasto in lista:
  if gasto > 3000:
    contador += 1

porcentaje_acima_3000 = 100 * contador / len(lista)

print(f'{contador} compras estuvieron por encima de R$3000,00.')
print(f'{porcentaje_acima_3000}% de los gastos estuvieron por encima de R$3000,00.')

7 compras estuvieron por encima de R$3000,00.
70.0% de los gastos estuvieron por encima de R$3000,00.

##3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
lista = []

for i in range(0,5):
  numero = int(input("Ingrese un numero entero: "))
  lista.append(numero)

print(f"Lista de numeros ingresados: {lista}")

Ingrese un numero entero: 3
Ingrese un numero entero: 4
Ingrese un numero entero: 5
Ingrese un numero entero: 56
Ingrese un numero entero: 6
Lista de numeros ingresados: [3, 4, 5, 56, 6]

##4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [ ]:
lista1=[]

for i in range(0,5):
  numero = int(input("Ingrese un numero entero: "))
  lista1.append(numero)

lista1.reverse()
print(lista1)

Ingrese un numero entero: 5
Ingrese un numero entero: 5
Ingrese un numero entero: 5
Ingrese un numero entero: 6
Ingrese un numero entero: 7
[7, 6, 5, 5, 5]

##5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
# Recopilamos el número
numero = int(input('Ingresa un número entero: '))
# Lista para almacenar los números primos
lista_primos = []
# Bucle que recorre todos los números por debajo del número ingresado
for num in range(2, numero):
  # Primo es una bandera que nos permite saber si el valor analizado es primo o no.
  primo = True
  # Probamos si todos los números por debajo del especificado en el primer bucle pueden dar una división exacta.
  for prueba_divisibles in range(2, num):
    if num % prueba_divisibles == 0:
      # Si es divisible por algún número, entendemos que el número no es primo y terminamos el bucle interno con break.
      primo = False
      break
  # La condición se convierte en el resultado booleano de primo: False. Ignoramos la condición True y ejecutamos el bloque del if.
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Ingresa un número entero: 4
Lista de números primos: [2, 3]

##6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

##7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

##8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

##9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D. -->

##10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

##11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:
{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}


Escribe un código que calcule el total de ventas y el producto más vendido.